# Miscellaneous
/.DS_Store

# Node.js
/**/node_modules/
/**/*-lock.*

# React Router
/**/.react-router/
/**/build/

# Vite
/**/.vite

# Environment
/**/.env
/**/.env.*

# Prisma
/**/*.db
/**/*.db-*
/**/migrations/
/**/generated/