@import "tailwindcss";

:root {
  --lightBlue: 210 50 79;
  --mediumBlue: 210 45 54;
  --darkBlue: 210 55 23;
  --goldenYellow: 45 80 60;
  --alertRed: 0 72 58;
  --successGreen: 120 61 50;

  --color-lightBlue: hsl(var(--lightBlue));
  --color-mediumBlue: hsl(var(--mediumBlue));
  --color-darkBlue: hsl(var(--darkBlue));
  --color-goldenYellow: hsl(var(--goldenYellow));
  --color-alertRed: hsl(var(--alertRed));
  --color-successGreen: hsl(var(--successGreen));
}

@layer base {

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"] {
    @apply border rounded py-1 px-2
  }
}

@layer components {
  .bg-pattern {
    background-color: #e5e5f7;
    background-image: radial-gradient(circle at center center, var(--color-darkBlue), #e5e5f7), repeating-radial-gradient(circle at center center, var(--color-darkBlue), var(--color-darkBlue), 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
  }

  .bg-pattern::after,
  .bg-pattern::before {
    content: '';
    width: "100%";
    height: "100%";
    background-color: #e5e5f7;
  }
}

@import "./styles/radix-theme.css"