@import "tailwindcss";

@plugin '@tailwindcss/forms';

@theme {
  --darkBlue: hsl(210 55 23);
  --mediumBlue: hsl(210 45 54);
  --lightBlue: hsl(210 50 79);
  --goldenYellow: hsl(45 80 60);
  --alertRed: hsl(0 72 58);
  --successGreen: hsl(120 61 50);

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  html,
  body {
    @apply bg-white dark:bg-(--darkBlue) text-(--darkBlue) dark:text-(--lightBlue);

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  label {
    @apply text-sm font-semibold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply px-2 py-1 border border-(--lightBlue) rounded-md shadow-xs h-[5ch];
    max-height: 5ch
  }
}

@layer components {
  .btn {
    @apply transition px-4 py-2 rounded-md flex gap-2 w-fit items-center;
    @apply justify-center shadow-xs cursor-pointer bg-transparent;

    @variant hover {
      @apply bg-(--lightBlue)/25
    }
  }

  .form-control {
    @apply grid mb-4;
  }

  .form-control>* {
    @apply max-h-fit
  }

  .card {
    @apply bg-white shadow-md rounded-lg overflow-hidden px-6 py-8 max-w-2xl;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    width: 45vw;
  }

  .card-description {
    @apply italic text-sm font-light text-(--darkBlue)/35;
  }

  @media (width >=80rem) {
    .card {
      max-height: fit-content;
    }
  }
}

@utility btn-* {
  background-color: --value(--*);
}

@utility btn-outline-* {
  border: 1px solid --value(--*)
}